<div class="container" >
		<div class="formDaftar">

			<h2>Reset Password</h2><br/>

			<% x = 1 %>
			
				<%= link_to "Lanjut", reset_password_path(x), class:'btn btn-primary' %>

				<%= link_to "Batal", home_path, class:'btn btn-danger' %>
				
				<div style="float: right">
					<%= button_tag "Reset", type: :reset, class:'btn btn-light' %>
				</div>
	
		</div>
</div>
a